
body {
	color: rgba(128, 128, 128, 0.806);
	background-image: url(pale\ pink.png);
	background-size: cover;
	font-family: 'Kosugi Maru';
	;


}

.container {

    width:100%;
    margin-right: auto;
	margin-left: auto;
	text-align:center;
	color:black;
	font-family:"Kosugi Maru"
		
}


h1 {

	
	font-size: 1.9em;
	text-align:center;
	color:black;
	
	
	
}

header{

		background-image: url(calculator.png);
		background-repeat: no-repeat;
  		background-size: 89%;
		padding: 2.5pc;
		float: left;
		position:relative; left:80px; top:8px;
		
		
}


form {
	
	color: #100f0f;
	margin-top: 5px;
	margin-bottom: 8px;
	
	text-align:center;
	
}



Label {
	
	color: #0c0c0c;
	
	margin-top: 10px;

	text-align:center;
	
}


table{

	width: 45%;
    border: 1px solid black;
	background-color: #ffffff;
	color: rgb(162, 115, 115);
	
    margin-right: auto;
	margin-left: auto;
	clear: both;
	
	
}

td{
    border: 1px solid black;
    text-align: center;
}

th{
    border: 1px solid black;
    background-color: rgb(183, 176, 176);
	text-align: center;
}

footer{


	color: black;
	position: fixed;
	bottom: 0;

}

hr{

	margin-top: 20px;
	border-color: rgb(183, 176, 176);
	border-top: 2px dashed;
	width: 60%;
	
}

button{


	color: black;
	border: 2px solid rgb(162, 115, 115); 
	background-color: white;
	border-radius: 8px;
	font-family: 'Kosugi Maru';
	
}

img{

	position:relative;
	
	width: 15%;
	
	

}










  




